
/* Set fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

.reveal {
  font-family: "Open Sans", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
#title-slide .title {
  font-family: "Poppins", sans-serif;
}

/* Set colors */
.reveal-viewport {
  background: var(--bg-color) !important;
}

.reveal {
  background: var(--bg-color) !important;
}

.reveal .slides {
  color: var(--primary-color) !important;
}

.reveal a { 
  color: var(--accent2); 
}

/* Title slide */
.reveal #title-slide {
  text-align: left !important;
}

/* Title */
#title-slide .title {
  color: var(--primary-color) !important;
  font-size: 1.5em;
  font-weight: 550;
}

/* Subtitle */
#title-slide .subtitle {
  color: var(--accent1);
  margin-top: 0em;
  font-weight: 550;
}

/* Affiliation + email */
#title-slide .institute,
#title-slide .quarto-title-affiliation,
#title-slide .quarto-title-author-email {
  color: var(--secondary-color);
}

/* Author name */
#title-slide .author,
#title-slide .quarto-title-author-name {
  color: var(--primary-color);
}

/* Author container */
#title-slide .quarto-title-authors {
  display: flex;
  justify-content: left;
}

#title-slide .quarto-title-authors .quarto-title-author {
  padding-left: 0em;
  padding-right: 0em;
  width: 100%;
}

/* Horizontal rule effect before author block */
#title-slide p.author::before,
#title-slide div.quarto-title-author::before {
  content: "";
  display: block;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-color);
  height: 3px;
  margin-bottom: 1em;
}

.reveal p {
  margin-top: 0.25em;
}


/* Headings */
.reveal h1 {
  font-weight: 550;
}

.reveal h2 {
  font-weight: 550;
  font-size: 1.25em;
}

.reveal h3 {
  color: var(--accent1);
  font-weight: 550;
  font-size: 1.1em;
  margin-top: 0.5em;
}

.reveal h4 {
  color: var(--accent2);
  font-weight: 550;
  font-size: 1.05em;
  margin-top: 0.5em;
}

.reveal .slides section.smaller h2 {
  font-size: calc(1.25em / 0.7) !important;
}

.reveal .slides section.smaller h3 {
  font-size: calc(1.1em / 0.7) !important;
}

.reveal .slides section.smaller h4 {
  font-size: calc(1.05em / 0.7) !important;
}

/* Lists */
.reveal ul {
  font-weight: 300;
  padding-left: 16px;
}

.reveal ul li::marker {
  color: var(--accent1);
}

.reveal ol {
  font-weight: 300;
  padding-left: 16px;
}

.reveal ol li::marker {
  color: var(--accent1);
}


.reveal dt {
  font-family: "Poppins";
  color: var(--accent2);
}

.reveal dd {
  margin-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

/* progress and menu bar on bottom */

.reveal .progress span {
  background: var(--accent2);
}

/* Footer */

.reveal .footer {
  color: var(--secondary-color);
  font-size: 0.3em !important;
  opacity: 0.8;
}



.reveal .slides section p.caption,
.reveal .slides section p.caption * {
  font-size: 0.7em !important;
}

figcaption {
  text-align: center;
  color: var(--secondary);
}